.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5em;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: #3A8EF6;
  border-bottom: 2px solid #3A8EF6;
  padding: 20px;
}

@media screen and (max-width: 500px) {
  .header {
    display: block;
  }
}