@import '@/styles/mixins.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5em;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: #3A8EF6;
  border-bottom: 2px solid #3A8EF6;
  padding: 20px;

  @include respond-to(small) {
    flex-direction: column;
    gap: 2em;
  }
}

.title {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  transition: color 0.3s ease, text-shadow 0.3s ease;
  cursor: pointer;

  &:hover{
    text-shadow: 1px 1px 5px rgba(0,123,255,0.5);
  }
}