/* ---------------colors--------------- */
//background
$cl-header-bg: #ECF4FF;
$cl-header-contacts-bg: #E5EEFF;
$cl-footer-bg: #1D5DAC;
$cl-button-primary-bg: #3A8EF6;
$cl-button-hover-bg:#1D5DAC;
$cl-button-disabled-bg: #97BAC7;
$cl-statusOpen-bg: #55B059;
$cl-statusClose-bg: #E8512F;
$cl-button-violet-bg: #855FCE;
$cl-button-violet-hover-bg: #683CBC;
$cl-active-link-bg: #3A8EF6;
$cl-active-link-hover-bg: #C4DDFC;
$cl-input-disabled-bg: #F3EFFA;
$cl-bg-accordion-btn-open: #3A8EF6;

//text
$cl-txt-main: #181B29;
$cl-txt-header: #3A8EF6;
$cl-txt-header-contacts: #2D5381;
$cl-txt-footer: #FFFFFF;
$cl-txt-caption: #858EAD;
$cl-txt-active-link: #FFFFFF;
$cl-txt-card-title: #282828;
$cl-txt-card: #6C87AE;
$cl-txt-card-subtitle: #855FCE;
$cl-txt-button-primary: #FFFFFF;
$cl-txt-placeholder: #C0BEBE;
$cl-txt-caption-error: #FF3257;
$cl-txt-additional-hover: #06B9FF;
$cl-txt-button-outline2: #2D5381;
$cl-txt-items: #1D5DAC;


//border
$cl-border-input: #E1DCEB;
$cl-border-input-focused: #06B9FF;
$cl-border-input-invalid: #FF3257;

//search
$cl-stroke-search: #3A8EF6;

/* ---------------templates--------------- */

%main-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 172px;
  box-sizing: border-box;
  width: 100%;
}

%main-header-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 101 0 172px;
  box-sizing: border-box;
  width: 100%;
}

%main-footer-container {
  max-width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
}

%body-text-12 {
  font-size: 12px;
  font-weight: 600;
  line-height: 21px;
}

%body-text-14 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

%body-text2-14 {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

%body-text-medium-14 {
  font-size: 14px;
  font-weight: 600;
  line-height: 32px;
}

%body-text-caption-14 {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

%body-text-16 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

%body-text2-16 {
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
}

%body-text-medium-16 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

%body-text-18 {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}
%body-logo-18 {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 3px;
}

%body-text-medium2-18 {
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
}

%body-text-medium-18 {
  font-size: 18px;
  font-weight: 500;
  line-height: 34px;
}

%body-text-20 {
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
}

%body-text-24 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

%body-text-24-2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
}

%body-text-heading-1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 1px;
}

%body-text-heading-2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}

%body-text-heading-3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 40px;
}

%button-primary-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 24.59px;
}

%button-text {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
}
%button2-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
}

%quote-text {
  font-size: 100px;
  font-weight: 700;
  line-height: 90px;
}

//effects

%effect-menu {
  box-shadow: 0px 2px 8px 0px #779d923d; //24%
}