.about {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background: #E5EEFF;
  color: #2a3549;
}

.text {
  width: 40%;
}

.video {
  width: 45%;
}

.title {
  font-size: 46px;
  font-weight: 800;
  line-height: 58px;
  margin-bottom: 12px;
}

.description {
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
}

.player {
  width: 100%;
  height: 100%;
}